@model WebAirport.Models.CodeFirst.Airplane

@{
    ViewBag.Title = "Новый самолет";
}

<div>
    @Html.ActionLink("Список самолетов", "Index")
</div>

<h2>Добавление самолета</h2>

<div class="row">
    @Html.ValidationSummary(true)
    <div class="col-md-8">
        <form method="post">
            <table class="table">
                <tr>
                    <th>Модель самолета</th>
                    <td>
                        @Html.EditorFor(model => model.Model)
                        @Html.ValidationMessageFor(model => model.Model)
                    </td>
                </tr>
                <tr>
                    <th>Вместимость пассажиров</th>
                    <td>
                        @Html.EditorFor(model => model.PessengerCapacity)
                        @Html.ValidationMessageFor(model => model.PessengerCapacity)
                    </td>
                </tr>
                <tr>
                    <th>Вместимость грузовая</th>
                    <td>
                        @Html.EditorFor(model => model.CarryingCapacity)
                        @Html.ValidationMessageFor(model => model.CarryingCapacity)
                    </td>
                </tr>
                <tr>
                    <th>Спецификация</th>
                    <td>
                        @Html.EditorFor(model => model.Specifications)
                        @Html.ValidationMessageFor(model => model.Specifications)
                    </td>
                </tr>
                <tr>
                    <th>Количество часов налета</th>
                    <td>
                        @Html.EditorFor(model => model.FlyingHours)
                        @Html.ValidationMessageFor(model => model.FlyingHours)
                    </td>
                </tr>
                <tr>
                    <th>Дата сборки</th>
                    <td>
                        @Html.EditorFor(model => model.ReleaseDate)
                        @Html.ValidationMessageFor(model => model.ReleaseDate)
                    </td>
                </tr>
                <tr>
                    <th>Дата последнего ремонта</th>
                    <td>
                        @Html.EditorFor(model => model.LastRepairDate)
                        @Html.ValidationMessageFor(model => model.LastRepairDate)
                    </td>
                </tr>
                <tr>
                    <th>Тип самолета</th>
                    <td>
                        @if (ViewBag.TypeAirplanes != null)
                        {
                            @Html.DropDownListFor(model => model.TypeAirplaneId, ViewBag.TypeAirplanes as SelectList)
                            @Html.ValidationMessageFor(model => model.TypeAirplaneId)
                        }
                        else
                        {
                            @Html.ActionLink("Добавить", "Create", "TypeAirplane")
                        }
                    </td>
                </tr>
            </table>
            <input type="submit" value="Добавить" />
        </form>
    </div>
</div>


@section scripts {
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}


