@model WebAirport.Models.TypeAirplane
@{
    ViewBag.Title = "Новый тип самолета";
}

<div>
    @Html.ActionLink("Список типов самолетов", "Index")
</div>

<h2>Добавление нового типа самолета</h2>
<div class="row">
    @Html.ValidationSummary(true)
    <div class="col-md-8">
        <form method="post">
            <table class="table">
                <tr>
                    <th>Название типа</th>
                    <td>
                        @Html.EditorFor(model => model.NameType)
                        @Html.ValidationMessageFor(model => model.NameType)
                    </td>
                </tr>
                <tr>
                    <th>Назначение</th>
                    <td>
                        @Html.EditorFor(model => model.Appointment)
                        @Html.ValidationMessageFor(model => model.Appointment)
                    </td>
                </tr>
                <tr>
                    <th>Лимиты</th>
                    <td>
                        @Html.EditorFor(model => model.Limitation)
                        @Html.ValidationMessageFor(model => model.Limitation)
                    </td>
                </tr>
            </table>
            <input type="submit" value="Добавить" />
        </form>
    </div>
</div>

@section Scripts{
    @Scripts.Render("~/bundles/jqueryval")
}