@model WebAirport.Models.CodeFirst.TypeAirplane
@{
    ViewBag.Title = "Новый тип самолета";
}

<div>
    @Html.ActionLink("Список типов самолетов", "Index")
</div>

<h2>Добавление нового типа самолета</h2>
<div class="row">
    @Html.ValidationSummary(true)
    <div class="col-md-8">
        <form method="post">
            <table class="table table-bordered">
                <tr>
                    <th>Название типа</th>
                    <td>
                        @Html.EditorFor(model => model.NameType)
                        @Html.ValidationMessageFor(model => model.NameType)
                    </td>
                </tr>
                <tr>
                    <th>Назначение</th>
                    <td>
                        @Html.EditorFor(model => model.Appointment)
                        @Html.ValidationMessageFor(model => model.Appointment)
                    </td>
                </tr>
                <tr>
                    <th>Лимиты</th>
                    <td>
                        @Html.EditorFor(model => model.Limitation)
                        @Html.ValidationMessageFor(model => model.Limitation)
                    </td>
                </tr>
            </table>
            <input type="submit" value="Добавить" />
        </form>
    </div>
</div>

@section scripts {
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}