@model IEnumerable<WebAirport.Models.CodeFirst.Airplane>
@{
    ViewBag.Title = "Удаление типа самолета";
}

<div>
    @Html.ActionLink("Добавить тип самолета", "Create")
    @Html.ActionLink("Список типов самолетов", "Index")
</div>

<h2>Список связанных самолетов с выбранным типом</h2>

<div class="row">
    <div class="col-md-6">
        <form method="post">
            <p>
                Выбранный тип самолета на удаление: @ViewBag.currentTypeAirplane.NameType
                <input type="text" hidden name="currentId" value="@ViewBag.currentTypeAirplane.Id" />
            </p>
            <table class="table table-bordered table-hover">
                <tr>
                    <th>Модель</th>
                    <th>Спецификация</th>
                    <th>Количество часов налета</th>
                    <th>Замена типа самолета</th>
                </tr>
                @foreach (var air in Model)
                {
                    <tr>
                        @Html.HiddenFor(model => air.Id)
                        <td>@air.Model</td>
                        <td>@air.Specifications</td>
                        <td>@air.FlyingHours</td>
                        <td>@Html.DropDownList("TypeAirplaneId", new SelectList(ViewBag.typeAirplanesList, "Id", "NameType", ViewBag.currentTypeAirplane.Id))</td>
                    </tr>
                }
            </table>
            <input type="submit" value="Сохранить изменения" onclick="return confirm('Сохранить изменения и удалить?')" />
        </form>
    </div>
</div>
