@model WebAirport.Models.TypeAirplane
@{
    ViewBag.Title = "Редактирование";
}

<h2>Редактирование типа самолета</h2>

@Html.ValidationSummary(true)
<div>
    <form method="post">
        <table>
            @Html.HiddenFor(model => model.Id)
            <tr>
                <td>Название типа</td>
                <td>
                    @Html.EditorFor(model => model.NameType)
                    @Html.ValidationMessageFor(model => model.NameType)
                </td>
            </tr>
            <tr>
                <td>Назначение</td>
                <td>
                    @Html.EditorFor(model => model.Appointment)
                    @Html.ValidationMessageFor(model => model.Appointment)
                </td>
            </tr>
            <tr>
                <td>Ограничения</td>
                <td>
                    @Html.EditorFor(model => model.Limitation)
                    @Html.ValidationMessageFor(model => model.Limitation)
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <input type="submit" value="Сохранить изменения" />
                </td>
            </tr>
        </table>
    </form>
</div>

@section Scripts{
    @Scripts.Render("~/bundles/jqueryval")
}

