@model WebAirport.Models.CodeFirst.TypeAirplane
@{
    ViewBag.Title = "Редактирование";
}

<div>
    @Html.ActionLink("Добавить тип самолета", "Create")
    @Html.ActionLink("Список типов самолетов", "Index")
</div>

<h2>Редактирование типа самолета</h2>
<div class="row">
    @Html.ValidationSummary(true)
    <div class="col-md-6">
        <form method="post">
            <table class="table">
                @Html.HiddenFor(model => model.Id)
                <tr>
                    <th>Название типа</th>
                    <td>
                        @Html.EditorFor(model => model.NameType)
                        @Html.ValidationMessageFor(model => model.NameType)
                    </td>
                </tr>
                <tr>
                    <th>Назначение</th>
                    <td>
                        @Html.EditorFor(model => model.Appointment)
                        @Html.ValidationMessageFor(model => model.Appointment)
                    </td>
                </tr>
                <tr>
                    <th>Ограничения</th>
                    <td>
                        @Html.EditorFor(model => model.Limitation)
                        @Html.ValidationMessageFor(model => model.Limitation)
                    </td>
                </tr>
            </table>
            <input type="submit" value="Сохранить изменения" onclick="return confirm('Сохранить изменения?')" />
        </form>
    </div>
</div>
@section scripts {
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}

