@model PagedList.IPagedList<WebAirport.Models.TypeAirplane>
@using PagedList.Mvc;
@{
    ViewBag.Title = "Типы самолетов";
}

<h2>Список типов самолетов</h2>

<div>
    <table>
        <tr>
            <td>Название типа</td>
            <td>Назначение</td>
            <td>Ограничения</td>
        </tr>
        @foreach (var typeA in Model)
        {
            <tr>
                <td>@typeA.NameType</td>
                <td>@typeA.Appointment</td>
                <td>@typeA.Limitation</td>
                <td><a href="/TypeAirplane/Edit/@typeA.Id">Редактировать</a></td>
            </tr>
        }
    </table>
</div>
<br />
Страница @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) из @Model.PageCount

@Html.PagedListPager(Model, page => Url.Action("Index", new { page }))