@model WebAirport.Models.CodeFirst.Ticket
@{
    ViewBag.Title = "Добавить билет";
}
<div>
    @Html.ActionLink("Список билетов", "Index")
</div>
<h2>Добавить новый билет</h2>

<div class="row">
    @Html.ValidationSummary(true)
    <div class="col-md-8">
        <form method="post">
            <table class="table">
                <tr>
                    <th>Фамилия Имя Отчество</th>
                    <td>
                        @Html.EditorFor(model => model.FIOPassenger)
                        @Html.ValidationMessageFor(model => model.FIOPassenger)
                    </td>
                </tr>
                <tr>
                    <th>Паспортные данные пассажира</th>
                    <td>
                        @Html.EditorFor(model => model.Passport)
                        @Html.ValidationMessageFor(model => model.Passport)
                    </td>
                </tr>
                <tr>
                    <th>Должность пассажира</th>
                    <td>
                        @Html.EditorFor(model => model.PositionPassenger)
                        @Html.ValidationMessageFor(model => model.PositionPassenger)
                    </td>
                </tr>
                <tr>
                    <th>Место в самолете</th>
                    <td>
                        @Html.EditorFor(model => model.Seat)
                        @Html.ValidationMessageFor(model => model.Seat)
                    </td>
                </tr>
                <tr>
                    <th>Стоимость перелета</th>
                    <td>
                        @Html.EditorFor(model => model.Price)
                        @Html.ValidationMessageFor(model => model.Price)
                    </td>
                </tr>
                <tr>
                    <th>Выбранный рейс</th>
                    <td>
                        @Html.DropDownListFor(model => model.FlightId, ViewBag.Flights as SelectList)
                        @Html.ValidationMessageFor(model => model.FlightId)
                    </td>
                </tr>
            </table>
            <input type="submit" value="Добавить билет" />
        </form>
    </div>
    <div id="selectFlight"></div>
</div>

@section scripts {
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
}

<script type="text/javascript">

    $(function () {
        $('#FlightId').change(function () {
            var id = $(this).val();
            $.ajax({
                type: 'GET',
                url: '@Url.Action("SelectedFlight")/' + id,
                success: function (data) {
                    $('#selectFlight').replaceWith(data);
                }
            });
        })
    })
</script>