@model WebAirport.Models.Ticket
@{
    ViewBag.Title = "Редактирование билета";
}

<div>
    @Html.ActionLink("Добавить билет", "Create")
    @Html.ActionLink("Список билетов", "Index")
</div>

<h2>Редактирование билета</h2>

@Html.ValidationSummary(true)

<div>
    <form method="post">
        @Html.HiddenFor(model => model.Id)
        <table>
            <tr>
                <td>Фамилия и Имя пассажира</td>
                <td>
                    @Html.EditorFor(model => model.FirstNamePassenger)
                    @Html.ValidationMessageFor(model => model.FirstNamePassenger)
                </td>
            </tr>
            <tr>
                <td>Отчество пассажира</td>
                <td>
                    @Html.EditorFor(model => model.LastNamePassenger)
                    @Html.ValidationMessageFor(model => model.LastNamePassenger)
                </td>
            </tr>
            <tr>
                <td>Паспортные данные пассажира</td>
                <td>
                    @Html.EditorFor(model => model.Passport)
                    @Html.ValidationMessageFor(model => model.Passport)
                </td>
            </tr>
            <tr>
                <td>Должность пассажира</td>
                <td>
                    @Html.EditorFor(model => model.PositionPassenger)
                    @Html.ValidationMessageFor(model => model.PositionPassenger)
                </td>
            </tr>
            <tr>
                <td>Место в самолете</td>
                <td>
                    @Html.EditorFor(model => model.Seat)
                    @Html.ValidationMessageFor(model => model.Seat)
                </td>
            </tr>
            <tr>
                <td>Стоимость перелета</td>
                <td>
                    @Html.EditorFor(model => model.Price)
                    @Html.ValidationMessageFor(model => model.Price)
                </td>
            </tr>
            <tr>
                <td>Выбранный рейс</td>
                <td>
                    @Html.DropDownListFor(model => model.FlightId, ViewBag.Flights as SelectList)
                    @Html.ValidationMessageFor(model => model.FlightId)
                </td>
            </tr>
        </table>
        <input type="submit" value="Добавить билет" />
    </form>
</div>

<div id="selectFlight"></div>

@Scripts.Render("~/scripts/jquery-3.4.1.min.js")
@Scripts.Render("~/scripts/jquery.unobtrusive-ajax.min.js")

<script type="text/javascript">

    $(function () {
        $('#FlightId').change(function () {
            var id = $(this).val();
            $.ajax({
                type: 'GET',
                url: '@Url.Action("SelectedFlight")/' + id,
                success: function (data) {
                    $('#selectFlight').replaceWith(data);
                }
            });
        })
    })
</script>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}