@model PagedList.IPagedList<WebAirport.Models.Ticket>
@using PagedList.Mvc;

@{
    ViewBag.Title = "Список билетов";
}

@{
    ViewBag.Title = "Билеты";
}
    <div>
        @Html.ActionLink("Добавить билет", "Create")
    </div>


<h2>Управление билетами</h2>

<table>
    <tr>
        <td>Фамилия и Имя</td>
        <td>Отчество</td>
        <td>Паспортные данные</td>
        <td>Должность</td>
        <td>Место в самолете</td>
        <td>Стоимость перелета</td>
    </tr>
    @foreach (var ticket in Model)
    {
        <tr>
            <td>@ticket.FirstNamePassenger</td>
            <td>@ticket.LastNamePassenger</td>
            <td>@ticket.Passport</td>
            <td>@ticket.PositionPassenger</td>
            <td>@ticket.Seat</td>
            <td>@ticket.Price</td>
        </tr>
    }
</table>

Страница @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) из @Model.PageCount

@Html.PagedListPager(Model, page => Url.Action("Index", new { page }))



