@model IEnumerable<WebAirport.Models.Flight>
@{
    ViewBag.Title = "Список билетов";
}
<h2>Список билетов по выбранному рейсу</h2>
<div>
    <p>
        Выбранный рейс:
        <select onchange="getListTicket(this.value)">
            <option value="0">Выбор рейса</option>
            @foreach (var flight in Model)
            {
                <option value="@flight.Id">@flight.DeparturePoint - @flight.Destination</option>
            }
        </select>
    </p>
</div>

<div id="resultSearch"></div>

<script type="text/javascript">

    function getListTicket(idFlight) {
        $.post("/Ticket/ListTickets", { idFlight: idFlight })
            .done(function (data) { $("#resultSearch").html(data); });
    }

</script>

@Scripts.Render("~/scripts/jquery-3.4.1.min.js")
@Scripts.Render("~/scripts/jquery.unobtrusive-ajax.min.js")


