@model WebAirport.Models.Flight
@{
    ViewBag.Title = "Добавление рейса";
}

<div>
    @Html.ActionLink("Список рейсов", "Index")
</div>

<h2>Добавление рейса</h2>

<div class="row">
    @Html.ValidationSummary(true)
    <div class="col-md-8">
        <form method="post">
            <table class="table">
                <tr>
                    <th>Дата и время вылета</th>
                    <td>
                        @Html.Editor("DateTimeFlight", new { htmlAttributes = new { @type = "datetime-local" } })
                        @Html.ValidationMessageFor(model => model.DateTimeFlight)
                    </td>
                </tr>
                <tr>
                    <th>Пункт вылета</th>
                    <td>
                        @Html.EditorFor(model => model.DeparturePoint)
                        @Html.ValidationMessageFor(model => model.DeparturePoint)
                    </td>
                </tr>
                <tr>
                    <th>Пункт назначения</th>
                    <td>
                        @Html.EditorFor(model => model.Destination)
                        @Html.ValidationMessageFor(model => model.Destination)
                    </td>
                </tr>
                <tr>
                    <th>Время в полете</th>
                    <td>
                        @Html.Editor("TimeInFlight", new { htmlAttributes = new { @type = "time" } })
                        @Html.ValidationMessageFor(model => model.TimeInFlight)
                    </td>
                </tr>
                <tr>
                    <th>Тип самолета</th>
                    <td>
                        @Html.DropDownList("TypeAirplaneId", ViewBag.TypeAirplane as SelectList)
                    </td>
                </tr>
                <tr>
                    <th>Самолет</th>
                    <td>
                        @Html.DropDownListFor(model => model.JobAirplane.AirplaneId, ViewBag.Airplane as SelectList)
                        @Html.ValidationMessageFor(model => model.JobAirplane.AirplaneId)
                    </td>
                </tr>
                <tr>
                    <th>Пилот</th>
                    <td>
                        @Html.DropDownListFor(model => model.JobAirplane.StaffId, ViewBag.Staff as SelectList)
                        @Html.ValidationMessageFor(model => model.JobAirplane.StaffId)
                    </td>
                </tr>
            </table>
            <input type="submit" value="Добавить" />
        </form>
    </div>
</div>

@Scripts.Render("~/scripts/jquery-3.4.1.min.js")
@Scripts.Render("~/scripts/jquery.unobtrusive-ajax.min.js")
@section Scripts{
    @Scripts.Render("~/bundles/jqueryval")
}
<script type="text/javascript">

    $(function() {
        $('#TypeAirplaneId').change(function () {
            var id = $(this).val();
            $.ajax({
                type: 'GET',
                url: '@Url.Action("getAirplaneType")/' + id,
                success: function (data) {
                    $('#JobAirplane_AirplaneId').replaceWith(data);
                }
            });
        });
    })
</script>
