@model IEnumerable<WebAirport.Models.Ticket>
@{
    ViewBag.Title = "Удаление рейса";
}
<div>
    @Html.ActionLink("Добавить рейс", "Create")
    @Html.ActionLink("Список рейсов", "Index")
</div>

<h2>Список связанных билетов с выбранным рейсом</h2>

<div class="row">
    <div class="col-md-6">
        <form method="post">
            <p>
                Выбранный рейс на удаление: @ViewBag.currentFlight.DeparturePoint - @ViewBag.currentFlight.Destination
                <input type="text" hidden value="@ViewBag.currentFlight.Id" name="currentId" />
            </p>
            <table class="table table-bordered table-hover">
                <tr>
                    <th>Фамилия Имя Отчество</th>
                    <th>Место</th>
                    <th>Цена</th>
                    <th>Новый рейс</th>
                </tr>
                @foreach (var ticket in Model)
                {
                    <tr>
                        @Html.HiddenFor(model => ticket.Id, new { Name = "Id" })
                        <td>@ticket.FIOPassenger</td>
                        <td>@ticket.Seat</td>
                        <td>@ticket.Price</td>
                        <td>
                            @Html.DropDownList("FlightId", new SelectList(ViewBag.Flights, "Id", "Description", ViewBag.currentFlight.Id))
                        </td>
                    </tr>
                }
            </table>
            <input type="submit" value="Сохранить изменения" onclick="return confirm('Сохранить изменения и удалить?')" />
        </form>
    </div>
</div>