@model WebAirport.Models.Flight
@{
    ViewBag.Title = "Редактирование рейса";
}

<div>
    @Html.ActionLink("Добавить новый рейс", "Create")
    @Html.ActionLink("Список всех рейсов", "Index")
</div>

<h2>Редактирование рейса</h2>
@Html.ValidationSummary(true)
<form method="post">
    <table>
        @Html.HiddenFor(model => model.Id)
        @Html.HiddenFor(model => model.JobAirplaneId)
        @Html.HiddenFor(model => model.JobAirplane.Id)
        <tr>
            <td>Дата и время рейса</td>
            <td>
                @Html.Editor("DateTimeFlight", new { htmlAttributes = new { @type = "datetime-local", Value = Model.DateTimeFlight.ToString("yyyy-MM-dd HH:mm:ss").Replace(' ', 'T') } })
                @Html.ValidationMessageFor(model => model.DateTimeFlight)
            </td>
        </tr>
        <tr>
            <td>Пункт вылета</td>
            <td>
                @Html.EditorFor(model => model.DeparturePoint)
                @Html.ValidationMessageFor(model => model.DeparturePoint)
            </td>
        </tr>
        <tr>
            <td>Пункт прибытия</td>
            <td>
                @Html.EditorFor(model => model.Destination)
                @Html.ValidationMessageFor(model => model.Destination)
            </td>
        </tr>
        <tr>
            <td>Время полета</td>
            <td>
                @Html.EditorFor(model => model.TimeInFlight, new { htmlAttributes = new { @type = "time" } })
                @Html.ValidationMessageFor(model => model.TimeInFlight)
            </td>
        </tr>
        <tr>
            <td>Тип самолета</td>
            <td>
                @Html.DropDownList("TypeAirplaneId", ViewBag.TypeAirplane as SelectList)
            </td>
        </tr>
        <tr>
            <td>Самолет</td>
            <td>
                @Html.DropDownListFor(model => model.JobAirplane.AirplaneId, ViewBag.Airplane as SelectList)
                @Html.ValidationMessageFor(model => model.JobAirplane.AirplaneId)
            </td>
        </tr>
        <tr>
            <td>Пилот</td>
            <td>
                @Html.DropDownListFor(model => model.JobAirplane.StaffId, ViewBag.Staffs as SelectList)
                @Html.ValidationMessageFor(model => model.JobAirplane.StaffId)
            </td>
        </tr>
        <tr>
            <td></td>
        </tr>
        <tr>
            <td colspan="2">
                <input type="submit" value="Сохранить изменения" />
            </td>
        </tr>
    </table>
</form>

@section Scripts{
    @Scripts.Render("~/bundles/jqueryval")
}
@Scripts.Render("~/scripts/jquery-3.4.1.min.js")
@Scripts.Render("~/scripts/jquery.unobtrusive-ajax.min.js")


<script type="text/javascript">

    $(function() {
        $('#TypeAirplaneId').change(function () {
            var id = $(this).val();
            $.ajax({
                type: 'GET',
                url: '@Url.Action("getAirplaneType")/' + id,
                success: function (data) {
                    $('#JobAirplane_AirplaneId').replaceWith(data);
                }
            });
        });
    })
</script>

