@model IEnumerable<WebAirport.Models.Staff>

<select name="StaffId">
    <option value="0">Выбор пилота</option>
    @foreach(var staff in Model)
    {
        if(ViewBag.idStaff == staff.Id)
        {
            <option value="@staff.Id" selected="selected">@staff.FirstNameStaff @staff.LastNameStaff</option>
        }
        else
        {
            <option value="@staff.Id">@staff.FirstNameStaff @staff.LastNameStaff</option>
        }
    }
</select>
