@model WebAirport.Models.Staff
@{
    ViewBag.Title = "Добавление сотрудника";
}

<div>
    @Html.ActionLink("Список сотрудников", "Index")
</div>

<h2>Добавление сотрудника</h2>

<div class="row">
    @Html.ValidationSummary(true)
    <div class="col-md-8">
        <form method="post">
            <table class="table">
                <tr>
                    <th>Фамилия Имя Отчество</th>
                    <td>
                        @Html.EditorFor(model => model.FIOStaff)
                        @Html.ValidationMessageFor(model => model.FIOStaff)
                    </td>
                </tr>
                <tr>
                    <th>Пол</th>
                    <td>
                        <select name="Gender">
                            <option>Мужской</option>
                            <option>Женский</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <th>Адрес</th>
                    <td>
                        @Html.EditorFor(model => model.Address)
                        @Html.ValidationMessageFor(model => model.Address)
                    </td>
                </tr>
                <tr>
                    <th>Телефон</th>
                    <td>
                        @Html.EditorFor(model => model.Telephone)
                        @Html.ValidationMessageFor(model => model.Telephone)
                    </td>
                </tr>
                <tr>
                    <th>Паспорт</th>
                    <td>
                        @Html.EditorFor(model => model.Passport)
                        @Html.ValidationMessageFor(model => model.Passport)
                    </td>
                </tr>
                <tr>
                    <th>Должность</th>
                    <td>
                        @Html.DropDownListFor(model => model.PositionId, ViewBag.Positions as SelectList)
                        @Html.ValidationMessageFor(model => model.PositionId)
                    </td>
                </tr>
            </table>
            <input type="submit" value="Добавить сотрудника" />
        </form>
    </div>
</div>

@section Scripts{
    @Scripts.Render("~/bundles/jqueryval")
}
