@model IEnumerable<WebAirport.Models.Flight>

@{
    ViewBag.Title = "Удаление сотрудника";
}

<div>
    @Html.ActionLink("Добавить сотрудника", "Create")
    @Html.ActionLink("Список сотрудников", "Index")
</div>

<h2>Список связанных рейсов с выбранным сотрудником</h2>

<div class="row">
    <div class="col-md-6">
        <form method="post">
            <p>
                Выбранный сотрудник для удаления: @ViewBag.currentStaff.FIOStaff
                <input type="text" hidden name="currentId" value="@ViewBag.currentStaff.Id" />
            </p>
            <table class="table table-bordered table-hover">
                <tr>
                    <th>Дата и время полета</th>
                    <th>Пункт вылета</th>
                    <th>Пункт назначения</th>
                    <th>Время полета</th>
                    <th>Замена сотрудника</th>
                </tr>
                @foreach (var flight in Model)
                {
                    <tr>
                        @Html.HiddenFor(model => flight.Id)
                        <td>@flight.DateTimeFlight</td>
                        <td>@flight.DeparturePoint</td>
                        <td>@flight.Destination</td>
                        <td>@flight.TimeInFlight</td>
                        <td>
                            @Html.DropDownList("StaffId", new SelectList(ViewBag.staffsList, "Id", "FIOStaff", ViewBag.currentStaff.Id))
                        </td>
                    </tr>
                }
            </table>
            <input type="submit" value="Сохранить изменения" onclick="return confirm('Сохранить изменения и удалить?')" />
        </form>
    </div>
</div>