
@{
    ViewBag.Title = "Редактирование сотрудника";
}
<div>
    @Html.ActionLink("Добавить сотрудника", "/Create")
    @Html.ActionLink("Список сотрудников", "/ListStaff")
</div>

<h2>Редактирование сотрудника</h2>
<div>
    <form method="post">
        <table>
            @foreach (var sta in ViewBag.Staff)
            {
            <input type="text" hidden name="Id" value="@sta.Id" />
            <tr>
                <td>Фамилия Имя</td>
                <td><input type="text" name="FirstNameStaff" value="@sta.FirstNameStaff"/></td>
            </tr>
            <tr>
                <td>Отчество</td>
                <td><input type="text" name="LastNameStaff" value="@sta.LastNameStaff"/></td>
            </tr>
            <tr>
                <td>Пол</td>
                <td>
                    <select name="Gender">
                        @if (sta.Gender == "Мужской")
                        {
                            <option selected="selected">Мужской</option>
                        }
                        else
                        {
                            <option>Мужской</option>
                        }
                        @if (sta.Gender == "Женский")
                        {
                            <option selected="selected">Женский</option>
                        }
                        else
                        {
                            <option>Женский</option>
                        }
                    </select>
                </td>
            </tr>
            <tr>
                <td>Адрес</td>
                <td><input type="text" name="Address" value="@sta.Address"/></td>
            </tr>
            <tr>
                <td>Телефон</td>
                <td><input type="text" name="Telephone" value="@sta.Telephone"/></td>
            </tr>
            <tr>
                <td>Паспорт</td>
                <td><input type="text" name="Passport" value="@sta.Passport"/></td>
            </tr>
            <tr>
                <td>Должность</td>
                <td>
                    <label>@sta.Position.JobTitle</label>
                    Замена должности
                    <select name="PositionId">
                        @foreach (var pos in ViewBag.Positions)
                        {
                            if (pos.Id == sta.PositionId)
                            {
                                <option selected="selected" value="@pos.Id">@pos.JobTitle</option>
                            }
                            else
                            {
                                <option value="@pos.Id">@pos.JobTitle</option>
                            }
                        }
                    </select>
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <input type="submit" value="Сохранить изменения" />
                </td>
            </tr>
            }
        </table>
    </form>
</div>

