@model WebAirport.Models.Staff

@{
    ViewBag.Title = "Редактирование сотрудника";
}
<div>
    @Html.ActionLink("Добавить сотрудника", "Create")
    @Html.ActionLink("Список сотрудников", "Index")
</div>

<h2>Редактирование сотрудника</h2>
@Html.ValidationSummary(true)
<div>
    <form method="post">
        <table>
            @Html.HiddenFor(model => model.Id)
            <tr>
                <td>Фамилия Имя</td>
                <td>
                    @Html.EditorFor(model => model.FirstNameStaff)
                    @Html.ValidationMessageFor(model => model.FirstNameStaff)
                </td>
            </tr>
            <tr>
                <td>Отчество</td>
                <td>
                    @Html.EditorFor(model => model.LastNameStaff)
                    @Html.ValidationMessageFor(model => model.LastNameStaff)
                </td>
            </tr>
            <tr>
                <td>Пол</td>
                <td>
                    <select name="Gender">
                        @if (Model.Gender == "Мужской")
                        {
                            <option selected="selected">Мужской</option>
                        }
                        else
                        {
                            <option>Мужской</option>
                        }
                        @if (Model.Gender == "Женский")
                        {
                            <option selected="selected">Женский</option>
                        }
                        else
                        {
                            <option>Женский</option>
                        }
                    </select>
                </td>
            </tr>
            <tr>
                <td>Адрес</td>
                <td>
                    @Html.EditorFor(model => model.Address)
                    @Html.ValidationMessageFor(model => model.Address)
                </td>
            </tr>
            <tr>
                <td>Телефон</td>
                <td>
                    @Html.EditorFor(model => model.Telephone)
                    @Html.ValidationMessageFor(model => model.Telephone)
                </td>
            </tr>
            <tr>
                <td>Паспорт</td>
                <td>
                    @Html.EditorFor(model => model.Passport)
                    @Html.ValidationMessageFor(model => model.Passport)
                </td>
            </tr>
            <tr>
                <td>Должность</td>
                <td>
                    @Html.DropDownListFor(model => model.PositionId, ViewBag.Positions as SelectList)
                    @Html.ValidationMessageFor(model => model.PositionId)
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <input type="submit" value="Сохранить изменения" />
                </td>
            </tr>
        </table>
    </form>
</div>

@section Scripts{
    @Scripts.Render("~/bundles/jqueryval")
}

