
@{
    ViewBag.Title = "Редактирование данных сотрудника";
}

    <h2>Редактирование данных сотрудника</h2>
<div>
    <form method="post">
        <table>
            @foreach (var sta in ViewBag.Staff)
            {
            <input type="text" hidden value="@sta.Id" />
            <tr>
                <td>Фамилия Имя</td>
                <td><input type="text" name="FirstNameStaff" value="@sta.FirstNameStaff"/></td>
            </tr>
            <tr>
                <td>Отчество</td>
                <td><input type="text" name="LastNameStaff" value="@sta.LastNameStaff"/></td>
            </tr>
            <tr>
                <td>Пол</td>
                <td>
                    <select name="Gender">
                        @if (sta.Gender == "Мужской")
                        {
                            <option selected="selected">Мужской</option>
                        }
                        else
                        {
                            <option>Мужской</option>
                        }
                        @if (sta.Gender == "Женский")
                        {
                            <option selected="selected">Женский</option>
                        }
                        else
                        {
                            <option>Женский</option>
                        }
                    </select>
                </td>
            </tr>
            <tr>
                <td>Адрес</td>
                <td><input type="text" name="Address" value="@sta.Address"/></td>
            </tr>
            <tr>
                <td>Телефон</td>
                <td><input type="text" name="Telephone" value="@sta.Telephone"/></td>
            </tr>
            <tr>
                <td>Паспорт</td>
                <td><input type="text" name="Passport" value="@sta.Passport"/></td>
            </tr>
            <tr>
                <td>Должности</td>
                <td>

                    <select name="PositionId">
                            <option value="@sta.Position.Id">@sta.Position.JobTitle</option>
                    </select>
                </td>
            </tr>
            }
        </table>
    </form>
</div>

