@model PagedList.IPagedList<WebAirport.Models.Staff>
@using PagedList.Mvc;

@{
    ViewBag.Title = "Список сотрудников";
}

<div>
    @Html.ActionLink("Добавить сотрудника", "Create")
</div>
<h2>Список всех сотрудников</h2>
<div>
    <table>
        <tr>
            <td>Фамилия Имя</td>
            <td>Отчество</td>
            <td>Пол</td>
            <td>Адресс</td>
            <td>Телефон</td>
            <td>Пасспорт</td>
            <td>Должность</td>
        </tr>
        @foreach (var s in Model)
        {
            <tr>
                <td>@s.FirstNameStaff</td>
                <td>@s.LastNameStaff</td>
                <td>@s.Gender</td>
                <td>@s.Address</td>
                <td>@s.Telephone</td>
                <td>@s.Passport</td>
                <td>@s.Position.JobTitle</td>
                <td>@Html.ActionLink("Редактировать", "Edit", new { s.Id })</td>
                <td>@Html.ActionLink("Удалить", "Delete", new { s.Id })</td>
            </tr>
        }
    </table>
</div>
<br />
Страница @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) из @Model.PageCount

@Html.PagedListPager(Model, page => Url.Action("Index", new { page }))

