@model IEnumerable<WebAirport.Models.Staff>

@{
    ViewBag.Title = "Список сотрудников";
}

<h2>Список связанных сотрудников с выбранной должностью</h2>

<div>
    @Html.ValidationSummary(true)
    <form method="post">
        <p>Выбранная должность для удаления: @ViewBag.currentPosition.JobTitle <input type="text" hidden value="@ViewBag.currentPosition.Id" name="currentId" /></p>
        <table>
            <tr>
                <td>Фамилия Имя</td>
                <td>Отчество</td>
                <td>Текущая должность</td>
                <td>замена должности</td>
            </tr>
            @foreach (var staff in Model)
            {
                <tr>
                    @Html.HiddenFor(model => staff.Id, new { Name = "Id" })
                    <td>@staff.FirstNameStaff</td>
                    <td>@staff.LastNameStaff</td>
                    <td>@staff.Position.JobTitle</td>
                    <td>
                        @Html.DropDownListFor(model => staff.PositionId, ViewBag.positionsList as SelectList, new { Name = "PositionId" })
                    </td>
                </tr>
            }
        </table>
        <input type="submit" value="Сохранить изменения" />
    </form>
</div>
