@model WebAirport.Models.Position

@{
    ViewBag.Title = "Редактирование должности";
}

<div>
    @Html.ActionLink("Добавить должность", "Create")
    @Html.ActionLink("Список должностей", "Index")
</div>

<h2>Редактирование выбранной должности</h2>
@Html.ValidationSummary(true)
<div>
    <form method="post">
        @Html.HiddenFor(model => model.Id)
        <table>
            <tr>
                <td>Название</td>
                <td>
                    @Html.EditorFor(model => model.JobTitle)
                    @Html.ValidationMessageFor(model => model.JobTitle)
                </td>
            </tr>
            <tr>
                <td>Оклад</td>
                <td>
                    @Html.EditorFor(model => model.Salary)
                    @Html.ValidationMessageFor(model => model.Salary)
                </td>
            </tr>
            <tr>
                <td>Обязанности</td>
                <td>
                    @Html.EditorFor(model => model.Responsibilities)
                    @Html.ValidationMessageFor(model => model.Responsibilities)
                </td>
            </tr>
            <tr>
                <td>Требования</td>
                <td>
                    @Html.EditorFor(model => model.Requirements)
                    @Html.ValidationMessageFor(model => model.Requirements)
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <input type="submit" value="Сохранить изменения" />
                </td>
            </tr>
        </table>
    </form>
</div>
@section Scripts{
    @Scripts.Render("~/bundles/jqueryval")
}