@model WebAirport.Models.CodeFirst.Position

@{
    ViewBag.Title = "Редактирование должности";
}

<div>
    @Html.ActionLink("Добавить должность", "Create")
    @Html.ActionLink("Список должностей", "Index")
</div>

<h2>Редактирование выбранной должности</h2>
<div class="row">
    @Html.ValidationSummary(true)
    <div class="col-md-6">
        <form method="post">
            @Html.HiddenFor(model => model.Id)
            <table class="table table-bordered">
                <tr>
                    <th>Название</th>
                    <td>
                        @Html.EditorFor(model => model.JobTitle)
                        @Html.ValidationMessageFor(model => model.JobTitle)
                    </td>
                </tr>
                <tr>
                    <th>Оклад</th>
                    <td>
                        @Html.EditorFor(model => model.Salary)
                        @Html.ValidationMessageFor(model => model.Salary)
                    </td>
                </tr>
                <tr>
                    <th>Обязанности</th>
                    <td>
                        @Html.EditorFor(model => model.Responsibilities)
                        @Html.ValidationMessageFor(model => model.Responsibilities)
                    </td>
                </tr>
                <tr>
                    <th>Требования</th>
                    <td>
                        @Html.EditorFor(model => model.Requirements)
                        @Html.ValidationMessageFor(model => model.Requirements)
                    </td>
                </tr>
            </table>
            <input type="submit" value="Сохранить изменения" onclick="return confirm('Сохранить изменения?')" />
        </form>
    </div>
</div>
@section scripts {
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}