@model PagedList.IPagedList<WebAirport.Models.Position>
@using PagedList.Mvc;

@{
    ViewBag.Title = "Список должностей";
}
<div>
    @Html.ActionLink("Добавить должность", "Create")
</div>

<h2>Управление должностями</h2>

<div>
    <table>
        <tr>
            <td>Название</td>
            <td>Оклад</td>
            <td>Обязанности</td>
            <td>Требования</td>
        </tr>
        @foreach (var p in Model)
        {
            <tr>
                <td>@p.JobTitle</td>
                <td>@p.Salary</td>
                <td>@p.Responsibilities</td>
                <td>@p.Requirements</td>
                <td>@Html.ActionLink("Редактировать", "Edit", new { p.Id })</td>
                <td>@Html.ActionLink("Удалить", "Delete", new { p.Id })</td>
            </tr>
        }
    </table>
</div>
<br />
Страница @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) из @Model.PageCount

@Html.PagedListPager(Model, page => Url.Action("Index", new { page }))
