@model PagedList.IPagedList<WebAirport.Models.Position>
@using PagedList.Mvc;

@{
    ViewBag.Title = "Index";
}
<h2>Управление должностями</h2>
@Html.ActionLink("Добавить должность", "Create")

<h2>Список должностей</h2>


<table>
    <tr>
        <td>
            <p>
                Название
            </p>
        </td>
        <td>
            <p>
                Оклад
            </p>
        </td>
        <td>
            <p>
                Обязанности
            </p>
        </td>
        <td>
            <p>
                Требования
            </p>
        </td>
    </tr>
    @foreach (var p in Model)
    {
        <tr>
            <td><p>@p.JobTitle</p></td>
            <td><p>@p.Salary</p></td>
            <td><p>@p.Responsibilities</p></td>
            <td><p>@p.Requirements</p></td>
            <td><a href="/Position/Edit/@p.Id">Редактировать</a></td>
            <td><a href="/Position/Delete/@p.Id">Удалить</a></td>
        </tr>
    }
</table>
<br />
Страница @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) из @Model.PageCount

@Html.PagedListPager(Model, page => Url.Action("Index", new { page }))
